html,body,span,div,h1,a,img,ul,ol,li{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // tap 高亮
  -webkit-tap-highlight-color: transparent;
}
a{
  text-decoration: none;
}
ul,ol{
  list-style: none;
}
// input标签的外观
input{
  border: none;
  outline: none;
  -webkit-appearance: none;
}

// 快速浮动
.fl{
  float: left;
}
.fr{
  float: right;
}
.clearfix::before,.clearfix::after{
  content:'';
  display: block;
  clear: both;
  line-height: 0;
  visibility: hidden;
  height: 0;
}
